<div class='col-xs-12 ace-table'>
  <!-- 标题 -->
  <div class='ace-table-title'>
    <span>{{title}}</span>
    <a class='arrow' (click)='close()'>
      <span class='fa fa-arrow-up' [ngStyle]='closeIconSty()'></span>
    </a>
  </div>
 
  <!-- <div class='ace-table-content' [ngClass]='closeStatus?"closeAnimate":""' [ngStyle]="contentSty()"> -->
  <div class='ace-wrap'>
    <!-- thead -->
    <div class='ace-table-thead' [ngStyle]='{width:wrapWidth-17+"px"}' > 
      <table class='table table-bordered' [ngStyle]='{transform:"translateX("+thOffsetLeft+"px)"}'>
        <tr>
          <th *ngFor='let item of theadSource;let idx=index;' [ngStyle]="getThSty(idx)" (mousemove)='thMoving($event,idx)'
            (mousedown)='tdisClilked($event,idx)'>
            <span>{{item.text}}</span>
          </th>
        </tr>
      </table>
      <div class='ace-move-block' (mousemove)='moveBlockEvent($event)'></div>
    </div>
    <!--   内容区  -->
    <div class='ace-table-content' (scroll)='tableScroll($event)'>
      <div class='ace-table-list'>
        <table class='table table-bordered'>
          <tr class='first-row' > <!-- 这个元素控制宽度，所有tr的宽度  -->
            <td *ngFor='let item of theadSource;let idx=index;' [ngStyle]="getThSty(idx)"></td>       
          </tr>
          <tr *ngFor='let data of dataSource'>
            <td *ngFor='let i of getKeys(data)'>
              <span>{{i}}</span>
            </td>
          </tr>
        </table>
      </div>
      <!--拖动线  -->
      <div class='ace-move-line'></div>
    </div>
    <!-- 底部  -->
    <div class='ace-table-footer' >
      <!--翻页区  -->
      <ul class='ace-button-area'>
        <li class='icon-btn'>
          <span class='ui-icon ace-icon fa fa-angle-double-left bigger-140'></span>
        </li>
        <li class='icon-btn' >
          <span class='ui-icon ace-icon fa fa-angle-left bigger-140'></span>
        </li>
        <li class='text-area'>
          <span>
            page
          </span>
          <input type="text"  value="1">
          <span>
            of 3
          </span>
        </li>
        <li class='icon-btn' >
          <span class='ui-icon ace-icon fa fa-angle-right bigger-140'></span>
        </li><li class='icon-btn' >
          <span class='ui-icon ace-icon fa fa-angle-double-right bigger-140'></span>
        </li>
      </ul>
      <!--显示区  -->
      <div class='ace-table-footer-text'>
          View 1 - 10 of 23
      </div>
    </div>
  </div>
</div>