// .ace-modal-root {
//   position: fixed;
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
// }
  //遮罩层
.ace-modal-mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #373737;
  background-color: rgba(55,55,55,.6);
  height: 100%;
  z-index: 1000;
}
.ace-modal-hidden {
  display: none;
}
//容器
.ace-modal-wrap {
  position: fixed;
  overflow: auto;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

//对话框容器
.ace-modal {
  display: block;
  position: relative;
  width: 520px;
  margin: 0 auto;
  top: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

@media (max-width: 768px){
  .ace-modal {
      width: auto!important;
      margin: 10px;
  }
}
.ace-modal {
  //内容区容器
  .ace-modal-content {
    position: relative;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    background-clip: padding-box;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
  }
  //关闭按钮
  .ace-modal-close {
    cursor: pointer;
    padding: 0;
    border: 0;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    font-weight: 700;
    line-height: 1;
    width: 48px;
    height: 48px;
    text-decoration: none;
    transition: color .3s ease;
    color: rgba(0,0,0,.43);
    i {
      display: block;
      width: 48px;
      height: 48px;
      font-style: normal;
      vertical-align: baseline;
      text-align: center;
      text-transform: none;
      text-rendering: auto;
      font-size:14px;
      outline: 0;
      line-height: 48px;
    }
    
  }
  .ace-modal-close:hover {
    color:rgba(0,0,0,.8);
    outline: 0;
  }
 .ace-modal-close:focus {
    outline: 0;
  }
  .ace-modal-header{
    padding: 13px 16px;
    border-radius: 4px 4px 0 0;
    background: #fff;
    color: rgba(0,0,0,.85);
    border-bottom: 1px solid #e9e9e9;
    font-weight: 500;
    font-family: Helvetica Neue;
  }

  .ace-modal-body {
    padding: 16px;
    font-size: 12px;
    line-height: 1.5;
  }

  .ace-modal-footer {
    border-top: 1px solid #e9e9e9;
    padding: 10px 16px 10px 10px;
    text-align: right;
    border-radius: 0 0 4px 4px;
  }
}