<div class='ace-modal-root' >
  <div class='ace-modal-mask'  [@maskAnimate]='eleState'></div> 
  <!-- <div class='ace-modal-wrap' > -->
  <div class='ace-modal-wrap' [@slide]='eleState'> 
    <div class='ace-modal' >
      <div class='ace-modal-content'>
        <!--关闭按钮  -->
        <button class="ace-modal-close"  (click)='onClose()'>
          <i class='fa fa-close fa-lg'></i>
        </button>
        <!-- header  -->
        <div class="ace-modal-header">
           Modal 
        </div>

        <!-- body  -->
        <div class="ace-modal-body">
          <p>1aaaaa</p>
          <p>2asd</p>
          <p>33asd</p>
        </div>
        <!-- footer  -->
        <div class="ace-modal-footer">
          <ace-btn [ngStyle]='{marginRight:"5px"}' [text]='"取消"' [size]='"small"'></ace-btn>
          <ace-btn [type]='"primary"' [text]='"确定"' [size]='"small"'></ace-btn>
        </div>
      </div>
    </div>
  </div> 


</div>

<button (click)='openModal()' [ngStyle]="{'z-index':10000,'position':'relative'}">show</button>
<!-- <div [@visibilityChanged]="state">
  <ng-content></ng-content>
  <p>Can you see me? I should fade in or out...</p>
</div>

<button (click)='animate()'>{{btn}}</button> -->