
  //遮罩层
.ace-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #373737;
  background-color: rgba(55,55,55,.6);
  height: 100%;
  z-index: 1000;
}

//容器
.ace-modal-wrap {
  position: fixed;
  overflow: auto;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

//对话框容器
.ace-modal {
  position: relative;
  width: 520px;
  margin: 0 auto;
  top: 100px;
  padding-bottom: 24px;
}
@media (max-width: 768px){
  .ace-modal {
      width: auto!important;
      margin: 10px;
  }
}
.ace-modal {
  //内容区容器
  .ace-modal-content {
    position: relative;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    background-clip: padding-box;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
  }
  .ace-modal-close {
    cursor: pointer;
    border: 0;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    transition: color .3s ease;
    color: rgba(0,0,0,.43);
    outline: 0;
  }

}