<div id='charts-page' class='page-content clearfix'>
  <h3>
    Chart <small>表格 ace-chart</small>
  </h3>
  <h4>
    安装
  </h4>
  <p>
    npm install highcharts --save
  </p>
  <h5 class="text-warning">
    属性
  </h5>
  <table class='table-striped table-bordered table'>
    <tr>
        <th *ngFor='let i of th'>{{i}}</th>
      </tr>
    <tr>
      <th *ngFor='let th of eventHeader'>{{th}}</th>
    </tr>
    <tr *ngFor='let item of propValue'>
      <td *ngFor='let key of tool.getKeys(item)'>
        <p [innerHTML]="key"></p>
      </td>
    </tr>
  </table>

  <ace-chart [type]="'line'" [chartSetting]='lineChartSetting'></ace-chart>
  <ace-chart [type]="'pie'" [chartSetting]='pieChartSetting'></ace-chart>
  <ace-chart [type]="'bar'" [chartSetting]='lineChartSetting'></ace-chart>

</div>